<form class="form" role="form" autocomplete="off">
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">apellidos</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Correo</label>
				<div class="col-lg-9">
					<input class="form-control" type="email">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">UserName</label>
				<div class="col-lg-9">
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">password</label>
				<div class="col-lg-9">
					<input class="form-control" type="password">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Confirm</label>
				<div class="col-lg-9">
					<input class="form-control" type="password" >
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-12 text-center">
					<input type="reset" class="btn btn-secondary" value="Cancel">
					<input type="button" class="btn btn-primary"
						value="Save Changes">
				</div>
			</div>
		</form>