<div class="table-responsive">
		<table id="userList" class="table table-bordered table-hover table-striped">
			<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellidos</th>
				<th scope="col">UserName</th>
				<th scope="col">E-mail</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Juan</td>
				<td>Corredor</td>
				<td>JuanCrrSrr</td>
				<td>juancs1921@gmail.com</td>
				<td>
					<a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>  